@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.poppins-heavy {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}

:root {
  --cyan-color: #449399;
  --blue-color: #313c4e;
  --navy-blue: #222a33;
  --html1: #e34f26;
  --html2: #006bc0;
  --js: #f0db4f;
  --react: #66dbfb;
  --angular: #de0837;
  --vue1: #41b883;
  --vue2: #243d55;
  --node: #94c747;
  --java-1: #158ec9;
  --java-2: #ed272c;
  --spring: #72b545;
  --git: #f15639;
  --bootstrap: #7818f7;
  --heroku: #740097;
  --sql1: #01758f;
  --sql2: #f29111;
}

body {
  margin: 0;
}

.global-width {
  margin: 0 auto;
  max-width: 1100px;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */

.header-main {
  color: white;
  display: flex;
  justify-content: space-between;
}

.bg-dark-blue {
  background-color: var(--blue-color);
}

.header-text {
  flex-basis: 60%;
}

.header-title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
}

.occupation {
  color: var(--cyan-color);
  font-size: 1.6rem;
}

.header-image {
  height: 180px;
  width: 180px;
  opacity: 60%;
  border-radius: 50%;
  border: 5px solid var(--cyan-color);
  background-image: url(/coverCircle.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
}

@media screen and (max-width: 864px) {
  .header-image {
    transform: scale(0);
    transition: all 0.3s;
  }

  .header-text {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 864px) {
  .header-image {
    transform: scale(1);
    transition: all 0.1s;
  }

  .header-text {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 450px) {
  .header-image {
    display: none;
  }
}

.github-icon {
  width: 21px;
}

.bg-navy {
  background-color: var(--navy-blue);
}

.poppins-light > a {
  color: white;
}

@media screen and (max-width: 864px) {
  .flex-direction-col {
    flex-direction: column;
    gap: 20px;
  }
}

.contact-item {
  display: flex;
  gap: 10px;
}

.thick-padding {
  padding: 40px 40px 20px 40px;
}

.thin-padding {
  padding: 20px 40px;
}

.right-padding {
  padding: 20px 0 20px 40px;
}

/* MAIN CONTENT */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 864px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .thick-padding {
    padding: 20px 40px 0px 40px;
  }
}

.section-title {
  color: var(--cyan-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.section-title > span {
  border-bottom: 3.5px solid var(--cyan-color);
}

article {
  margin-bottom: 16px;
}

.article-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.article-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 1.15rem;
}

.article-accent {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 0.9rem;
  color: var(--cyan-color);
}

.article-body {
  margin-left: -22px;
}

ul {
  margin: 0;
}

.article-body > ul > li::marker {
  color: var(--cyan-color);
}

article > a {
  color: var(--cyan-color);
}

article > a:hover {
  text-decoration: underline;
}

article > a:visited {
  color: var(--cyan-color);
}

.diplomaBtn {
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5spx;
  padding: 9px 12px;
  background-color: var(--blue-color);
  cursor: pointer;
}

.badge-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 1100px) {
  .badge-container {
    display: block;
  }
}

@media screen and (min-width: 555px) and (max-width: 864px) {
  .badge-container {
    display: block;
  }
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: grey;
  width: 90px;
  height: 90px;
}

.hard-skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.hard-skills > span {
  border-radius: 8%;
}

.soft-skills {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 555px) {
  .soft-skills {
    flex-direction: column;
  }
}

@media screen and (min-width: 864px) and (max-width: 1099px) {
  .soft-skills {
    flex-direction: column;
  }
}

.soft-skills > span {
  border-radius: 50%;
  background-color: var(--cyan-color);
  color: white;
  border: 1px solid grey;
}

.soft-skills > .badge {
  width: 110px;
  height: 110px;
  margin: 2px auto;
}

.badge-9 {
  width: 90px;
  height: 90px;
}

.badge-10 {
  width: 100px;
  height: 100px;
}

.badge-11 {
  width: 110px;
  height: 110px;
}

.badge-12 {
  width: 120px;
  height: 120px;
}

.bg-html {
  background: linear-gradient(100deg, var(--html1) 40%, var(--html2));
  color: white;
  font-size: 1.2rem;
}

.bg-js {
  background-color: var(--js);
  color: black;
  font-size: 4rem;
}

.bg-react {
  background-color: var(--react);
  font-size: 2rem;
}

.bg-angular {
  background-color: var(--angular);
  font-size: 1.2rem;
}

.bg-vue {
  background-color: var(--vue1);
  color: var(--vue2);
  font-size: 1.6rem;
}

.bg-node {
  background-color: var(--node);
  font-size: 1.6rem;
  color: black;
}

.bg-java {
  background: linear-gradient(100deg, var(--java-1), var(--java-2) 80%);
  color: white;
  font-size: 1.8rem;
}

.bg-spring {
  background-color: var(--spring);
  font-size: 1.5rem;
}

.bg-bs {
  background-color: var(--bootstrap);
}

.bg-sql {
  background-color: var(--sql1);
  color: var(--sql2);
  font-size: 1.4rem;
}

.bg-git {
  background-color: var(--git);
  color: black;
  font-size: 1.6rem;
}

.bg-heroku {
  background-color: var(--heroku);
  font-size: 1rem;
}

/* DIPLOMA */

.diploma {
  position: relative;
  background-color: pink;
}

.display-hidden {
  overflow: hidden;
  visibility: hidden;
}

.diploma-container {
  position: absolute;
  top: 0;
  z-index: 1;
  /* height: 100vh; */
  width: 100%;
  background-color: #234465;
  opacity: 65%;
}

.diploma-image {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(50%);
  transition: all 1s;
  width: 100%;
  max-width: 780px;
}

@media screen and (min-width: 800px) {
  .diploma-image {
    border: 5vw solid #234465;
  }
}

.diploma-slide {
  transition: all 1s;
  transform: translate(-50%);
}

.close-btn {
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 90%;
  width: 32px; /* Set the desired width of the X sign */
  height: 32px; /* Set the desired height of the X sign */
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 5px;
  background-color: #cfcfcf; /* Set the desired color of the X sign */
}

.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
